.flash{
    color: hsl(0, 0%, 96%);
    padding: 10px;
    background-color: red;

    a{
        color: hsl(0, 0%, 96%);
    }
    .fa-bolt-lightning{
        font-size: 1.3rem;
        margin-right: 10px;
        color: hsl(27,100%,63%);
    }
}