section{
    position: relative;
    display: flex;
    overflow-x: auto;
    gap: 0.5rem;
    padding: 10px;
    z-index: -1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
article{
    flex: 1;
    position: relative;
    min-width: 100px;
    border-radius: 10px; 
}
figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: hsl(0, 0%, 90%);
    opacity: 0.8;
    background-color: black;

    p{
        font-size: 0.7rem;
    }
}
article:first-child{
    figcaption{
        display: none;
    }
}
article:nth-child(7){
    figcaption{
        display: none;
    }
}
.btn-previous{
    display: flex;
    // justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 85%;
    z-index: 1;
    // background-color: red;

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: none;
        outline: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: hsl(0, 0%, 90%);
        background-color: hsl(0, 0%, 20%);
        opacity: 0.8;
    }
}

@media (min-width:50em){
    section{
        // overflow-x: hidden;
        width: 70%;
        margin: 20px auto;
    }
    article{
        min-width: 150px;
        
    }
  
}