@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
 $primary-color: hsl(36,100%,50%);
 $white:white;
 $white-color: white;
 $black-menu-bars: black;
 $button-color: hsl(30,92%,54%);
 $button-hover-color: hsl(30,92%,44%);
 $border-color: hsla(240, 5%, 41%, 0.2);

 $font-family: 'Poppins', sans-serif;
 $font-weight-300: 300;
 $font-weight-400: 400;
 $font-weight-500: 500;
 $font-size: 1rem;

 body{
   font-family: $font-family;
   font-size: $font-size;
   font-weight: $font-weight-400;
 
 }
 .flex{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   
 }
 header{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    grid-template-areas: 
    "top1 top1 top1 top1 top1"
    "hambuger logo logo acc acc"
    "search search search search search"
    "ul ul ul ul ul";
    border-bottom: 2px solid $border-color;
   
 }
 .top-nav{
    grid-area: top1;
    background-color: $primary-color;
    padding: 0px 10px;

    h1{
      font-size: 1.5rem;
    }
 }


 .top-nav h1 {
   overflow: hidden;
   display: inline-block;
   animation: textAnimation 1s infinite alternate, zoomAnimation 2s infinite alternate, textAndZoomAnimation 4s infinite;
 }
 
 @keyframes textAnimation {
   0% {
     transform: translateY(0);
   }
   50% {
     transform: translateY(-5px);
   }
   100% {
     transform: translateY(0);
   }
 }
 
 @keyframes zoomAnimation {
   0%, 100% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.1);
   }
 }


 @keyframes textAndZoomAnimation {
   0%, 100% {
     transform: translateY(0) scale(1);
   }
   50% {
     transform: translateY(-5px) scale(1);
   }
   75% {
     transform: translateY(-5px) scale(1.1);
   }
   100% {
     transform: translateY(0) scale(1);
   }
 }


 .hambuger-menu{
    grid-area: hambuger;
   //  background-color: red;
    padding: 0px 10px;
 }
 .logo{
    grid-area: logo;
   //  background-color: aqua;
   //  padding: 0px 0px;
    display: flex;
    justify-content: flex-start;
     align-items: center;

     img{
      width: 70%;
     }

 }
 .account-and-cart-container{
    grid-area: acc;
   //  background-color: blue;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    button{
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      background-color: $white;
    }
    button:hover{
      color: $primary-color;
    }
    select{
      border: none;
      outline: none;
      cursor: pointer;
     
      option{
         border: none;
         outline: none;
         
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    }
    
 }
 .cart-wrapper{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   
      .cart-no{
         position: absolute;
         top: -10px;
         right: 0;
         width: 15px;
         height: 15px;
         padding: 10px;
         color: white;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         background-color: $primary-color;

         p{
            font-size: 0.8rem;
         }
      }
 
   
   a{
      text-decoration: none;
      color: hsl(0, 0%, 30%);
   }
   a:hover{
      color: $primary-color;
   }
   i{
      padding-right: 10px;
   }
 }
 .search-bar-wrapper{
    grid-area: search;
   //  background-color: chartreuse;
    padding: 10px 40px;
    position: relative;

    input[type=text], button{
      padding: 5px;
      border: 2px solid $border-color;
      outline: none;
      font-size: 0.8rem;
      // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      
    }
    input[type=text]{
      width: 90%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    button{
      cursor: pointer;
      width: 10%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: $primary-color;
      text-align: center;
    }
    button:hover{
      background-color: $button-hover-color;
    }

    .search-prerdiction{
      position: absolute;
      width: 88%;
      top: 56px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
     
      z-index: 2;
       background-color: white;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

      li{
         color: black;
         font-size: 0.9rem;
         padding: 5px;
         padding-left: 10px;
         list-style: none;
      }
      li:hover{
         cursor: pointer;
         background-color: hsl(240,4%,95%);
      }
    }

 }
 .hambuger-menu{ 

   span{
display: block;
width: 28px;
height: 2px;
background-color: $black-menu-bars;
position: relative;
}
span::before, span::after{
   content: '';
   display: block;
   position: absolute;
   width: 28px;
   height: 2px;
   background-color: $black-menu-bars;
   }
  span::before{
      top: 5px;
   }
   span::after{
      bottom: 5px;
   }

   ul{
      position: absolute;
      display: none;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 100%;
     z-index: 1;
      // background-color: rgb(27, 173, 166);
      transition: .5s ease;

      a{
         text-decoration: none;
      }
      
      li{
         list-style: none;
         padding: 10px;
        
      }
      .fa-solid{
      margin-right: 10px;
      } 
   }
   
}


.spans-wrapper{
   cursor: pointer;
   width: 30px;
   height: 30px;
   // background-color: chartreuse;
}

// checked checkbox
.hambuger-menu input[type=checkbox]{
   display: none;
}
.hambuger-menu input:checked ~ ul{
   top: 0;
   width: 90%;
   padding-top: 40px;
 
   display: flex;
   // justify-content: ;
   align-items: center;
   flex-direction: column;
   background-color: $white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  h1{
   font-size: 1.2rem;
  } 
  a{
      text-decoration: none;
   }
   a:hover{
     color: $primary-color;
   }
}

.hambuger-menu input:checked ~ label .spans-wrapper{
   z-index: 2;
   position: absolute;
   top: 0;
   right: 50px;
   margin: 10px;
   width: 30px;
   
   
   // background-color: red;
}

.hambuger-menu input:checked ~ label span:first-child{ 
   // transform: translateX(10px);
   // opacity: 0;
   background-color: transparent;
   }
   .hambuger-menu input:checked ~ label span::before{ 
     
      transform: rotate(45deg);
      transform-origin: right;
      top: 10px;
      background-color: $black-menu-bars;
      }
      .hambuger-menu input:checked ~ label span::after{
        
         transform: rotate(-45deg);
         transform-origin:right; 
         top: -10px;
         background-color: $black-menu-bars;
         }
         .cart{
            position: relative;
            display: flex;
            justify-content: center;
            
            align-items: center;
            width: 100px;
            // background-color: aqua;
            font-size: 2rem;
            margin-left: 50px;
    
            span{
                font-size: 1.5rem;
                margin-left: 10px;
    
            }
        }
    
    .cart a:hover{
        color: $primary-color;
    }
    .cart-number-of-items-show{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        color: $white-color;
        padding: 5px;
        position: absolute;
        top: 2px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $primary-color;
    
    }

    .dropdown-log{
      background-color: red;
    }


    .user-email-logout{
      // background-color: red;
      // padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      button{
         // background-color: $primary-color;
         color: $primary-color;
         border: none;
         outline: none;
         border-radius: 5px;
         font-size: 0.9rem;
      }
      button:hover{
         cursor: pointer;
         color: $button-hover-color;
         background-color: transparent;
         
      }
    }

   //  search prediction

         // Desktop & Laptop design
        
         @media (min-width:50em){
            header{
               grid-template-areas: 
               "top1 top1 top1 top1 top1"
               "logo search search acc acc"
               ;
            }
            .spans-wrapper{
               display: none;
            }
            .logo{         
               justify-content: flex-end;
               // background-color: red; 
               
               img{
                  width: 70%;
               }
             }
             .search-bar-wrapper{
               input[type=text], button{
                  padding: 10px;
                  border: 1px solid hsl(0, 0%, 60%);
                  font-size: 1rem;
               }
               button{
                  border-left: none;
               }
             }
             .account-and-cart-container{
               // background-color: blue;
               justify-content: flex-start;
               font-size: 1.5rem;
             }
             .top-nav{
               display: flex;
               justify-content: center;
               align-items: center;

             }
             .user-email-logout{
               display: none;
             }
         }
